{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<!-- ini content pagenya  -->
 <div id="content">  
       <div class="container-fluid">
      <center>
         <h1 class="mb-3 mt-3">Edit Material</h1>
      </center>

   <form action="{{ url_for('edit_material', id=material[0]) }}" method="POST">

       <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Level</label>
          <div>
             <select class="form-select" aria-label="Default select example" name="level">
                <option selected>{{ material[1] }}</option>
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
                <option value="3">5</option>
                <option value="3">6</option>
                <option value="3">7</option>
                <option value="3">8</option>
                <option value="3">9</option>
                <option value="3">10</option>
               </select>
            </div>
            </div>
            <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Part Code</label>
          <input type="Text"  name ="part_code" class="form-control" id="exampleFormControlInput1" value="{{ material[2] }}">
         </div>
            <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Description</label>
          <input type="Text"  name ="deskripsi" class="form-control" id="exampleFormControlInput1" value="{{ material[3] }}">
         </div>
         <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Lot Size</label>
          <div>
             <select class="form-select" aria-label="Default select example" name="lot_size">
                <option selected>{{ material[4] }}</option>
               <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
                <option value="3">5</option>
                <option value="3">6</option>
                <option value="3">7</option>
                <option value="3">8</option>
                <option value="3">9</option>
                <option value="3">10</option>
               </select>
            </div>
            </div>
             <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">UOM</label>
          <input type="text"  name ="UOM" class="form-control" id="exampleFormControlInput1" value="{{ material[5] }}">
         </div>
          <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Status</label>
          <div>
             <select class="form-select" name="status">
                <option selected>{{ material[7] }}</option>
                <option value="Make">Make</option>
                <option value="Buy">Buy</option>
               </select>
            </div>
            </div>
            <center>
               <button type="submit" class="btn btn-success mb-3 mt-3">Save</button>
            </center>
      </form>
      <center>
         <a class="mt-3 text-lg-center" href="{{ url_for('home') }}">Back</a>
      </center>
   </div>
</div>

{% endblock %}